<%- include('includes/head'); %> 

  <section class="container">
    <h1>Lorem normal.</h1>

    <h2><%= umaVarialvelLocal %> </h2>

    <!-- <h1>
      <% if(typeof titulo !== 'undefined') { %> 
        <%= titulo %> 
      <% } else { %> 
        O titulo não foi enviado. 
      <% }; %> 
      <% numeros.forEach(num => { %> 
        <%= num%> <br />
      <% }); %>

      <% for(let i = 0; i < numeros.length; i++) { %>
        <%= numeros[i] %> <br> 
      <% }; %>
    </h1> -->

    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente" />
      <button type="submit">Enviar</button>
    </form>
  </section>

<%- include('includes/footer'); %> 


